#head{
    display: flex;
    margin-left: 360px;
    margin-top: -760px;
   
}



#note{
    height: 25px;
    width: 30px;
    border-radius: 15px;
    background-color: #00308f;
    text-align: center;
    padding-top: 3px;
   margin-left: 20px;
    font-size: 20px;
    background-color: white;
}

#btn11{
    background-color: #00308f;
     height: 30px;
     border-radius: 15px;
     margin-left: 50px;
     color: white;
     width: 180px;
     border: none;
}

#btn22{
    margin-left: 20px;
    height: 30px;
    border-radius: 15px;
    background-color: #00308f;
    color: white;
    width: 120px;
    border: none;
}

#input{
 width: 700px;
 border-radius: 15px;
 height: 30px;
 padding-left: 35px;
 padding-top: 5px; 
 /* border: none;   */
}

#search{
    transform: translateX(30px);
    padding-top: 10px;
  
}

#date{
    display: flex;
    margin-left: 730px;
    margin-top: 20px;
    width: 180px;
    height: 40px;
    background-color: #afdbf5 ;
   text-align: center;
}

#left{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #00308f;
    color: white;
}

#right{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background-color: #00308f;
    color: white;
}

#head2{
    display: flex;
    margin-left: 400px;
}

#details{
    display: flex;
    height: 110px;
    background-color: #afdbf5;
    padding-top: 10px;
    width: 350px;
    padding-left: 10px;
    border-radius: 15px;
    margin-left: 400px;
    margin-top: 7px;
}

#details:hover{
    cursor: pointer;
    background-color: white;
}

#detail{
    padding-left: 20px;
    margin-top: -10px;
}

#age{
    margin-top: -15px;
}

#no{
    margin-top: -15px;
}
